<main>
  <section>
    <h1>Hex<b>6</b> BoardGame</h1>
    <div class="difficulty-slider">
      <strong>Selecione a dificuldade</strong>

      <div class="difficulties">
        @for (diff of difficulties; track $index) {
          <button [class]="diff.label" [ngClass]="{'active': difficulty === diff.value}" (click)="updateDifficulty(diff.value)">
            <span>{{diff.label}}</span>
          </button>
        }
      </div>
    </div>
    <button (click)="startGame()">
      Iniciar
    </button>
  </section>
</main>
