<main>
  <section>
    <h1>Hex<b>6</b> BoardGame</h1>
    <div class="difficulty-slider {{difficultyLabel}}">
      <label for="difficulty">Dificuldade selecionada: <strong>{{ difficultyLabel }}</strong></label>

      <input id="difficulty" type="range" min="0" max="2" step="1" class="slider" [(ngModel)]="difficulty"
        (input)="updateDifficulty(difficulty)" />

      <div class="labels">
        <span [style.color]="'#7cb518'">Fácil</span>
        <span [style.color]="'#f3de2c'">Médio</span>
        <span [style.color]="'#fe6666'">Difícil</span>
      </div>
    </div>
    <button (click)="startGame()">
      Iniciar
    </button>
  </section>
</main>
