main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  section {
    background: #1c2634;
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.75);

    border-radius: 8px;
    gap: 32px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    width: 80%;
    max-width: 350px;

    h1 {
      margin: 0;

      b {
        color: #b08cff;
      }
    }

    button {
      border-radius: 8px;
      border-color: #b08cff;
      background: #b08cff;
      height: 60px;
      font-size: 24px;
      color: white;
      font-weight: 600;
      border: 1px solid #b08cff;
      transition: ease-out 0.3s;
      cursor: pointer;
      width: 100%;

      &:hover {
        transition: ease-in 0.3s;
        background-color: transparent;
        color: #b08cff;
      }
    }
  }
}

.difficulty-slider {
  width: 100%;
  text-align: center;
  gap: 12px;
  display: flex;
  flex-direction: column;

  .difficulty {
    font-weight: 600;
  }

  .difficulties {
    display: flex;
    button {
      height: 40px;
      font-size: 16px;
      background: transparent;
      border-color: rgba(255, 255, 255, 0.559);
      color: white !important;
      &:nth-child(1) {
        border-radius: 8px 0px 0px 8px;
      }
      &:nth-child(2) {
        border-radius: 0;
      }
      &:nth-child(3) {
        border-radius: 0px 8px 8px 0px;
      }

      &.Fácil {
        &:hover {
          transition: ease-in 0.3s;
          border-color: #7cb518;
          background-color: #7cb518;
        }
        &.active {
          border-color: #7cb518;
          background-color: #7cb518;
        }
      }

      &.Médio {
        &:hover {
          transition: ease-in 0.3s;
          border-color: #d2c345;
          background-color: #d2c345;
        }
        &.active {
          border-color: #d2c345;
          background-color: #d2c345;
        }
      }

      &.Difícil {
        &:hover {
          transition: ease-in 0.3s;
          border-color: #fe6666;
          background-color: #fe6666;
        }
        &.active {
          border-color: #fe6666;
          background-color: #fe6666;
        }
      }
    }
  }
}
